[submodule "packages/render-api"]
	path = packages/render-api
	url = https://github.com/feng3d-labs/render-api.git
[submodule "packages/webgpu"]
	path = packages/webgpu
	url = https://github.com/feng3d-labs/webgpu.git
[submodule "packages/tsl"]
	path = packages/tsl
	url = https://github.com/feng3d-labs/tsl.git
[submodule "packages/feng3d-cli"]
	path = packages/feng3d-cli
	url = https://github.com/feng3d-labs/feng3d-cli.git
